html {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', serif;
  padding: 0;
  margin: 0;
  color: #868e96;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 700;
  color: #343a40;
}


h1, h2{
  text-transform: uppercase;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

.h3, h3 {
  font-size: calc(1.3rem + .6vw);
}

.bg-primary {
  background-color: #BD5D38 !important;
}

.text-primary {
  color: #BD5D38 !important;
}

a {
  color: #BD5D38;
}

a:hover, a:focus, a:active {
  color: #824027;
}

#content ul {
  list-style: initial;
}

#content .subtitle {
  font-size: 1.35rem; 
  font-weight: 550; 
  color: #868e96;
}

#content {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

#fullpage section {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  height: 100vh;
}

.page{
   height: 100vh; 
   overflow: hidden;
}

@media (min-width: 992px) {
  #sidebar {
    top: 0;
    bottom: 0;
    margin: 0;
    outline: 0;
    border: 0;
    border-color: #bd5d38;
    height: 100vh;
    width: 17rem;
    overflow: hidden;
    position: fixed;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #bd5d38;
  }
  #content {
    margin-left: 17rem;
  }
  #avatar {
    text-align: center;
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #menu {
    display: block;
    align-items: flex-start;
    margin-bottom: auto;
    flex-grow: 0
  }
  
  .menu-list a {
    color: rgba(255,255,255,.55);
    font-weight: bold;
    padding: .5rem;
  }

  .menu-list a:hover, a:focus, a:active {
    color: rgba(255,255,255,.75);
    font-weight: bold;
    border: 0;
    outline: none;
    background-color: transparent;
  }
}

