{% extends "base.html" %}
{% block content %}
<div class="container is-fluid" style="min-height: 100vh;">
  <div class="is-flex is-flex-direction-column is-justify-content-center" style="min-height: 100vh;">
    <h1>Tags</h1>
    {% if terms %}
    {% for term in terms %}
    <div class="card mb-5">
      <header class="card-header">
        <p class="card-header-title">
          <a href="{{ term.permalink | safe }}">{{ term.name }}</a> ({{ term.pages | length }})
        </p>
      </header>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock content %}