{% macro display(title, path, align="left", bibtex=false) %}
{% set section = get_section(path=path) %}
<div class="is-flex is-flex-direction-column is-justify-content-center" style="height: 100%;">
  <h2><a href="{{ section.permalink }}">{{ title }}</a></h2>
  <div class="is-hidden-touch">
    {{ section.content | safe }}
  </div>
  {% set remain = false %}
  <div class="pb-6 pt-2" style="overflow: auto;">
    {% for page in section.pages | reverse %}
    {% if page.extra.featured %}
    <div class="mb-5">
      <nav class="level mb-0">
        <div class="level-left">
          <div class="level-item">
            <h3 class="post-title"><a href="{{ page.permalink }}">{{ page.title }}</a></h3>
          </div>
          {% if bibtex and page.extra.bibtex %}
          <div class="level-item">
            <a role="button" data-target="copyTarget" aria-haspopup="true"
              onclick="show_bib('{{ get_url(path=page.extra.bibtex)}}')">
              <span class="tag is-warning">Bibtex</span>
            </a>
          </div>
          {% endif %}
        </div>
        <div class="level-right is-hidden-touch">
          <div class="level-item">
            <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</span>
          </div>
        </div>
      </nav>
      <div class="is-flex is-flex-direction-row">
        {% if page.description %}
        <div class="content" style="width: 100%;">
          {% if page.extra.image %}
          <figure class="image is-128x128" style="float:{{ align }};">
            {% if page.extra.image is starting_with("http") %}
            <img src="{{ page.extra.image }}">
            {% else %}
            <img src="{{ get_url(path=page.extra.image) }}">
            {% endif %}
          </figure>
          {% endif %}
          {{ page.description | markdown() | safe }}
          <a href="{{ page.permalink }}">Read More</a>
        </div>
        {% endif %}
      </div>
      {% if page.taxonomies.tags %}
      <div class="tags">
        {% for tag in page.taxonomies.tags %}
        <span class="tag"><a href="/tags/{{ tag | lower }}">{{ tag }}</a></span>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    {% else %}
    {% set_global remain = true %}
    {% endif %}
    {% endfor %}
  </div>
  {% if remain %}
  <h3><a href="{{ section.permalink }}">Wait! There's more..</a></h3>
  {% endif %}
</div>
{% endmacro %}