{% macro modal() %}
<div class="modal" id="copyTarget">
  <div class="modal-background"></div>
  <div class="modal-card">
    <section class="modal-card-body">
      <textarea class="textarea" id="bibtex-content" placeholder="e.g. Hello world"  readonly></textarea>
    </section>
    <footer class="modal-card-foot">
      <button class="button" id="copyButton">Copy to clipboard</button>
    </footer>
  </div>
</div>
{% endmacro %}

{% macro script() %}
<script>
  function show_bib(bib_path) {
    $.ajax({
      url: bib_path,
      success: function (data) {
        $("#bibtex-content").text(data);
        $("#copyTarget").addClass("is-active");
      },
    });
  }

  document
    .getElementById("copyButton")
    .addEventListener("click", function () {
      var copyText = document.getElementById("bibtex-content");
      copyText.select();
      copyText.setSelectionRange(0, 99999);
      navigator.clipboard.writeText(copyText.value);
      $("#copyTarget").removeClass("is-active");
    });
</script>
{% endmacro %}