{% macro search(input="search-input", results="search-results") %}
<article class="panel is-link">
  <div class="panel-block">
    <p class="control has-icons-left">
      <input id="{{ input }}" class="input" type="text" placeholder="search" onkeyup="doSearch()">
      <span class="icon is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
    </p>
  </div>
  <div id="{{ results }}"></div>
</article>
{% endmacro %}

{% macro search_init(input="search-input", results="search-results") %}
{% if config.build_search_index %}
<script>
  function doSearch() {
    let value = document.getElementById("{{ input }}").value;
    var options = {
      bool: "AND",
      fields: {
        title: { boost: 2 },
        body: { boost: 1 },
      }
    };
    var index = elasticlunr.Index.load(window.searchIndex);
    const results = index.search(value, options);
    let ul = document.getElementById("{{ results }}");
    ul.innerHTML = "";
    for (i = 0; i < results.length; i++) {
      console.log(`Results: ${results[i]}`);
      let url = results[i].ref;
      let title = results[i].doc.title; // doc.body
      let elemlink = document.createElement('a');
      elemlink.className = "panel-block";
      elemlink.innerHTML = title;
      elemlink.setAttribute('href', url);
      ul.appendChild(elemlink);
    }
  }
</script>
{% else %}
<script type="module">
  import { search, default as init } from "{{ get_url(path='/tinysearch_engine.js') | safe }}";
  window.search = search;
  async function run() { await init("{{ get_url(path='/tinysearch_engine_bg.wasm') | safe }}"); }
  run();
</script>
<script>
  function doSearch() {
    let value = document.getElementById("{{ input }}").value;
    const results = search(value, 5);
    let ul = document.getElementById("{{ results }}");
    ul.innerHTML = "";
    for (i = 0; i < results.length; i++) {
      let [title, url] = results[i];
      let elemlink = document.createElement('a');
      elemlink.className = "panel-block";
      elemlink.innerHTML = title;
      elemlink.setAttribute('href', url);
      ul.appendChild(elemlink);
    }
  }
</script>
{% endif %}
{% endmacro %}