{# Default page.html template #}

{% extends "base.html" %}

{% block content %}
<div class="container is-fluid" style="min-height: 100vh;">
  <div class="is-flex is-flex-direction-column is-justify-content-center" style="min-height: 100vh;">
    <h2>{{ page.title }}<a href="{{ page.extra.link }}" style="font-style: initial;" ><span class="tag is-warning">Link</span></a></h2>
    {% if page.extra.lead %}<p class="lead">{{ page.extra.lead }}</p>{% endif %}
    <div class="content pb-5">
      {{ page.content | safe }}
    </div>
  </div>
</div>
{% endblock content %}