{% extends "base.html" %}
{% block content %}
<div class="container is-fluid" style="min-height: 100vh;">
  <div class="is-flex is-flex-direction-column is-justify-content-center" style="min-height: 100vh;">
    {{ macros_search::search() }}
    {{ macros_search::search_init() }}
  </div>
</div>
{% endblock content %}